@import 'materialize';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

:root {
  overflow-x: hidden;
  height: 100%;
}

.spacer {
  flex: 1 1 auto !important;
}

hr {
  border: none;
  height: 1px;
  background-color: #aaa;
}

.blue-gradient {
  background-color: #1976D2;
  // background: linear-gradient(to right, #396afc, #2948ff);
  background: linear-gradient(to right, #479aef, #286dca);
}

.card.horizontal {
  .card-image {
    max-width: 40%;
  }
}

.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 50;

  .logo {
    font-size: 1.8rem;

    i {
      font-size: 2.5rem;
    }
  }

  > .container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .action-bar {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;

    .btn-floating {
      transform: scale(1.3);
      text-align: center;
    }
  }

  .search-bar {
    position: relative;
    background-color: transparent;

    input[type=text] {
      color: #444;
      border: none;
      border-radius: 200px;
      padding: 0.8em 3em 0.8em 1.5em;
      outline: none;
      width: 16rem;
      transition: all 0.2s ease;
    }

    .search-btn {
      margin-left: -48px;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      right: 10px;

      .fa {
        color: #666;
      }

      &:hover .fa {
        color: #1976D2;
      }
    }
  }

  .btn-floating {
    background-color: transparent;
    box-shadow: none;
  }
}

#main > .container > h2,
#main > h2 {
  font-size: 1.5rem;
  color: #444;
  padding: 0.5em 1em;
  margin-top: 4rem;
  @extend .grey;
  @extend .lighten-2;
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.3);
}

.product-card {
  margin: 1rem 0.5rem;

  .card-image {
    .card-title {
      background-color: rgba(0,0,0,.7);
      font-size: 1.3em;
      border-radius: 2px;
      padding: 5px 12px;
      margin: 20px 10px;
    }
  }

  .btn-floating {
    @extend .blue-gradient;
  }

  .card-content {
    position: relative;
  }

  .product-price {
    font-size: 2rem;
    white-space: nowrap;
  }

  .product-old-price {
    text-decoration: line-through;
    color: #888;
    white-space: nowrap;
  }

  .card-action a {
    color: #444 !important;
  }
}

.side-nav {
  .title {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 16px 32px 8px;
  }

  li > a {
    color: white;
  }

  .collapsible-header {
    padding: 0 32px;

    .fa {
      margin-right: 0;
    }
  }

  .collapsible-body {
    background-color: transparent;

    li > a {
      padding: 0 32px 0 48px;
    }
  }
}

.page-footer {
  margin-top: 5rem;

  .btn-floating {
    margin: 0 1rem 2rem;
  }
}
//
// MEDIA QUERIES
//
@media #{$small-and-down} {
  .nav-wrapper {
    height: 112px;

    .search-bar {
      position: absolute;
      right: 0;
      left: 0;
      top: 56px;
      width: 20rem;
      max-width: 90vw;
      margin: 0 auto;

      input[type=text] {
        width: 100%;
      }
    }
  }
}
@media #{$large-and-up} {}
