@import 'materialize';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

:root {
  overflow-x: hidden;
  height: 100%;
}

.spacer {
  flex: 1 1 auto !important;
}

#header {
  user-select: none;

  .top-bar {
    .container {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      .btn {
        padding: 0 1em;
      }
    }
  }

  .store-logo {
    max-width: 90%;
  }
}

.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 50;

  > ul,
  > .container > ul {
    > li > a {
      margin: 0;
    }
  }

  .logo{
    font-size: 1.8rem;

    i{
      font-size: 2.5rem;
    }
  }

  >.container{
    display: flex;
    justify-content: space-between;

    .action-bar{
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;
    }
  }

  .search-bar {
    position: relative;

    input[type=text] {
      color: #444;
      border: none;
      border-radius: 2px;
      padding: 0.8em 0;
      outline: none;
      margin: 0;
      width: 0;
      transition: all 0.2s ease;
    }

    &.active {
      background-color: transparent;

      input[type=text] {
        width: 15em;
        padding-left: 1em;
        padding-right: 4em;
        margin-right: -3.1em;
      }

      .search-btn .fa {
        color: #666;

        &:hover {
          color: #1976D2;
        }
      }
    }
  }

  .btn-floating {
    background-color: transparent;
    box-shadow: none;
  }
}

h2 {
  font-size: 1.5rem;
  color: #444;
  padding: 0.5em 1em;
  margin-top: 4rem;
  @extend .grey;
  @extend .lighten-2;
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.3);
}

.product-card {
  margin: 0.5rem;

  .card-content {
    position: relative;
  }

  .product-price {
    font-size: 2rem;
    white-space: nowrap;
  }

  .product-old-price {
    text-decoration: line-through;
    color: #888;
    white-space: nowrap;
  }

  .card-action a {
    color: #444 !important;
  }
}

.side-nav {
  .title {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 16px 32px 8px;
  }

  li > a {
    color: white;
  }

  .collapsible-header {
    padding: 0 32px;

    .fa {
      margin-right: 0;
    }
  }

  .collapsible-body {
    background-color: transparent;

    li > a {
      padding: 0 32px 0 48px;
    }
  }
}
//
// MEDIA QUERIES
//
@media #{$large-and-up} {
  #header {
    .nav-wrapper {
      > ul,
      > .container > ul {
        > li > a {
          margin: -2px 15px;
        }
      }

      .search-bar.active input[type=text] {
        margin-right: -4.5em;
      }
    }
  }
}
