@import 'materialize';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

:root {
  overflow-x: hidden;
  height: 100%;
}

.spacer {
  flex: 1 1 auto !important;
}

#header {
  user-select: none;

  .top-bar {
    background: url("../img/banners/main-banner.jpg") no-repeat center;
    background-size: cover;

    .container {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      .btn {
        padding: 0 1em;
      }
    }
  }

  .store-logo {
    margin: 2rem 0;
    max-width: 90%;
  }

  .nav-wrapper {
    position: sticky;
    top: 0;

    > ul,
    > .container > ul {
      > li > a {
        margin: 0;
      }
    }

    .brand-logo {
      padding: 8px 0;
      height: 100%;
      left: auto;
      transform: none;

      img {
        height: 100%;
      }
    }

    .search-bar {
      position: relative;

      input[type=text] {
        color: #444;
        border: none;
        border-radius: 2px;
        padding: 0.8em 0;
        outline: none;
        margin: 0;
        width: 0;
        transition: all 0.2s ease;
      }

      &.active {
        background-color: transparent;

        input[type=text] {
          width: 15em;
          padding-left: 1em;
          padding-right: 4em;
          margin-right: -3.1em;
        }

        .search-btn .material-icons {
          color: #666;

          &:hover {
            color: #2196F3;
          }
        }
      }
    }

    .btn-floating {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

h2 {
  font-size: 1.5rem;
  color: #444;
  padding: 0.5em 1em;
  @extend .grey;
  @extend .lighten-2;
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.3);
}

.product-card {
  .product-price {
    font-size: 2rem;
  }

  .product-old-price {
    text-decoration: line-through;
    color: #888;
  }

  .card-action a {
    color: #444 !important;
  }
}

#main {
  margin: 3rem 0;
}

.side-nav {
  .title {
    font-weight: 400;
    font-size: 1.2rem;
    color: #888;
    padding: 16px 32px 8px;
  }

  .collapsible-header {
    padding: 0 32px;

    .material-icons {
      margin-right: 0;
    }
  }

  .collapsible-body {
    li > a {
      padding: 0 32px 0 48px;
    }
  }
}
@media #{$large-and-up} {
  #header {
    .nav-wrapper {
      > ul,
      > .container > ul {
        > li > a {
          margin: -2px 15px;
        }
      }

      .search-bar.active input[type=text] {
        margin-right: -4.5em;
      }
    }
  }
}
