@charset 'UTF-8';
@import 'owl.theme.custom.scss';
@import 'owl.carousel.scss';
@import 'main';

.back-layer {
  z-index: -1000 !important;
}

.share-buttons {
  position: absolute;
  top: 6rem;
  right: 2rem;

  .btn {
    @extend .blue;
    @extend .darken-2;
    position: absolute;
    transition: all 0.2s ease;

    &:not(.btn-share) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .btn-share {
    top: 0;
    right: 0;
  }

  .btn-whatsapp {
    top: -79px;
    right: 0;

     @media #{$medium-and-up} {
       display: none;
       visibility: hidden;
     }
  }

  .btn-facebook {
    top: -56px;
    right: 56px;
  }

  .btn-twitter {
    top: 0;
    right: 79px;
  }

  .btn-google-plus {
    top: 56px;
    right: 56px;
  }

  .btn-pinterest {
    top: 79px;
    right: 0;
  }

  &:hover {
    &:before {
      content: '';
      position: absolute;
      width: 216px;
      height: 216px;
      top: -80px;
      left: -136px;
      border-radius: 500px;
      z-index: 1;
    }

    .btn {
      visibility: visible;
      opacity: 1;
    }
  }
}

.product-details {
  position: relative;
  margin-top: 3rem;

  .product-images {
    position: relative;

    .btn-fav {
      @extend .blue;
      @extend .darken-2;
      position: absolute;
      top: 5px;
      right: 2rem;
    }
  }

  .product-description {
    position: relative;

    > h1 {
      font-size: 2rem;
      margin: 1rem 0;

      & + h2 {
        margin-top: 0.7rem;
        font-size: 0.9rem;
        color: #888;
      }
    }
  }

  .product-rating {
    font-size: 1.5rem;
    color: #f1c40f;
    margin-bottom: 1rem;
  }

  .product-payment {
    text-align: center;
    margin: 1rem 0;

    .product-price {
      font-size: 2.5rem;
    }

    .product-old-price {
      color: #888;
      text-decoration: line-through;
    }

    .product-discount {
      color: red;
    }

    .btn-cart {
      @extend .blue-gradient;
      margin-top: 1rem;
    }
  }

  .product-highlights {
    li {
      .collapsible-header {
        .fa {
          float: left;
          font-size: 2rem;
        }
      }
    }
  }

  .input-field {
    margin: 3rem 0 2rem;
    padding: 2rem 1rem 1px;
    border-radius: 2px;
    @extend .z-depth-2;

    label {
      left: 1rem;
      top: 1rem;
      transform: none;
    }
  }

  .collapsible {
    @extend .z-depth-2;
    border-radius: 2px;
    border: none;
  }

  .product-freight {
    display: flex;
    flex-wrap: wrap;
    @extend .z-depth-2;
    border-radius: 2px;
    padding: 1rem;
    margin: 2rem 0;

    label {
      color: #666;
      font-size: 0.9rem;
      flex: 1 0 100%;
    }

    input {
      flex: 1 1 50%;
      margin: 0 1rem 0 0;
      height: auto;
    }

    .submit-freight {
      padding: 0 1rem;
      flex: 0 1 auto;
    }
  }
}
//
// MEDIA QUERIES
//
@media #{$small-and-down} {}
